html{
  background-image: url("http://at41coopersquare.github.io/CooperUnionLogo.gif");
   background-color: blue ;
   background-size: 2px 2500px;
   float: right;
   text-align: center;


}

body{
  font-size: 12px;
  color: #E0FFFF;
  font-family:'Poppins',Helvetica,sans-serif;
  letter-spacing: 5px;
  padding: 25px;
  text-shadow:0 2px black;
  border-radius:5px;cursor:vertical-text;
  margin: 40px;
}

body span {
  text-decoration: underline;
}

body h2 {
  padding-left: 50px;
  padding-right: 50px;
}

body p {
  text-decoration: underline;
  font-variant: small-caps;
  text-align: justify;
}

body h1 {
  font-family: 'Poppins', serif;
  color: #E0FFFF;
  font-size:50px;
  padding: 10px;
  border: solid 10px #E0FFFF;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
